##### Just combining the final dataset

In [1]:
import pandas as pd

a = pd.read_csv("../CT-2022/2022_merged_data.csv")
b = pd.read_csv("../CT-2023/2023_merged_data.csv")

df = pd.concat([a, b], ignore_index=True)

In [7]:
test = df.isna().sum()
for col, count in test.items():
    if count != 0:
        print(col, count)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35388 entries, 0 to 35387
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            35388 non-null  int64
 1   agency_location                 35388 non-null  int64
 2   incident_date                   35388 non-null  object
 3   incident_hour                   35388 non-null  int64
 4   agency_name                     35388 non-null  object
 5   state                           35388 non-null  object
 6   population                      35388 non-null  int64
 7   male_officer                    35388 non-null  float64
 8   male_civilian                   35388 non-null  float64
 9   male_officer+male_civilian      35388 non-null  float64
 10  female_officer                  35388 non-null  float64
 11  female_civilian                 35388 non-null  float64
 12  female_officer+female_civilian  35388 non-null  float64
 13  offense_name                    35388 non-null  object
 14  offense_category_name           35388 non-null  object
 15  criminal_act_name               35388 non-null  object
 16  location_area                   35388 non-null  object
dtypes: float64(6), int64(4), object(7)
memory usage: 4.6+ MB

In [2]:
df.to_csv("combined_data.csv", index=False)

In [6]:
combined = pd.read_csv("combined_data.csv")

In [ ]:
rows = df['agency_name'].value_counts()

for i, j in rows:
    print(i)

year
agency_location
incident_date
incident_hour
agency_name
state
population
male_officer
male_civilian
male_officer+male_civilian
female_officer
female_civilian
female_officer+female_civilian
offense_name
offense_category_name
criminal_act_name
location_area

In [15]:
hartford_rows = df[df['agency_name'] == "Mansfield"]
offense_counts = hartford_rows['offense_category_name'].value_counts()

for name, count in offense_counts.items():
    print(name, count)